/* Three JS - Main Style */



body, html, #container{
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}



canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background-color: red; //It works!!!
}

#test{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}


@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

//.sixteen-nine {
//  @include aspect-ratio(16, 9);
//  overflow: hidden;
//}

body {
  font-family: Monospace;
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
}

#info {
  color: #fff;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;

}

a {
  color: skyblue
}


#home-intro-scroll-sensor{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;

}

#percentage{
  color: black;
  z-index: 5;
  position: relative;
}